 *{
	
	margin:0;
	padding:0;
	box-sizing: border-box;
}

html{
	background: #fff;
	color: #555;
	font-family: 'Lato','Arial',sans-serif;
	font-weight: 300;
	font-size: 20px;
	text-rendering: optimizeLegibility;
	
}

.row{
	width: 1140px;
	margin: 0 auto;
}

.box{
	
	padding: 1%;
}

header{
	
	background-image:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(img/hero.jpg);
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	
	
}

.hero-text-box{
	
	position: absolute;
	width: 1140px;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
	
	
	
}

h1,h2,h3{
	
	text-transform: uppercase;
	font-weight: 300;
	
}

h1{
	margin-top:0;
	margin-bottom: 40px;
	color: #fff;
	font-size: 240%;
	word-spacing: 4px;
	letter-spacing: 1px
}

h2{
	margin-top: 60px;
	font-size: 180%;
	word-spacing: 2px;
	text-align: center;
	margin-bottom: 30px;
	letter-spacing: 1px
}
h3{
	font-size: 110%;
	margin-bottom: 15px
}

h2::after{
	display: block;
	content: "";
	height: 2px;
	width: 100px;
	margin: 0 auto;
	background: #e67e22;
	margin-top: 30px;
}

.long-copy{
	
	line-height: 185%;
	width: 70%;
	margin-left: 15%;
}
.box p{
	line-height: 145%;
	font-size: 90%;
}

.icon-big{
	font-size: 350%;
	color: #e67e22;
	margin-bottom: 10px;
	display: block;
}

.btn:link,
btn:visited{
	display: inline-block;
	text-decoration: none;
	color: #fff;
	font-weight: 300;
	padding:10px 30px;
	border-radius: 200px;
	transition: background 0.2s,color 0.2s,border 0.2s;
	
	
}

.btn:active,
.btn:hover{
	background: #cf6d17;
	font-size: 14px;
	
	
}



.btn-full:linK,
btn-full:visited{
	color:#fff;
	background: #e67e22;
	border: 1px solid #e67e22;
}

.btn-ghost:link,
btn-ghost:visited{
	color: #e67e22;
	border:1px solid #e67e22;
	margin-left: 30px;
	
}
.btn-full:active,
.btn-full:hover{
	
	
	border: 1px solid #cf6d17;
}

.btn-ghost:active,
.btn-ghost:hover{
	color: #fff;
	border:1px solid #cf6d17;
	
	
}
.row--header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.logo{
	display: flex;
	justify-self:flex-start;
	margin-left: -300px;
	
	height: 100px;
	width:auto;
	
}

.main-nav{
	
	display: flex;
	list-style: none;
	justify-content: space-between;
	align-items: center;
	
	
	
}

.main-nav li{
	
	margin:0 40px;
	
}

.main-nav li a:link,
.main-nav li a:visited{
	
	color: #fff;
	font-size: 90%;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 300;
	padding: 6px 0;
	border-bottom: 1px solid transparent;

	transition: border-bottom 0.2s
		
}

.main-nav li active,
.main-nav li a:hover{
	
	border-bottom: 1px solid #e67e22;
	border-bottom-left-radius: 2px;
		border-bottom-right-radius: 2px
	
	
	
}
.section{
	
	padding:80px 0;
}
.section-meals{
	padding: 0;
}

.meals-showcase{
	
	list-style: none;
	width: 100%;
}

.meals-showcase li{
	
	display: block;
	float:left;
	width:25%;
	 
}

.meal-photo{
	
	width:100%;
	margin: 0;
	overflow: hidden;
	background: #000;
	
}
.meal-photo img{
	opacity: .7
	
	width:100%;
	height: auto;
	transform: scale(1.15);
	transition: transform 0.5s,opacity 0.5s;
}

.meal-photo img:hover{
	opacity: 1;
	transform: scale(1.03);
}

/* how it works */

.steps-box{
	
	margin-top: 30px; 
}
.steps-box:first-child{
	
	text-align: right;
	padding-right: 3%;
	
}

.steps-box:last-child{
	padding-left: 3%;
	
}
.app-screen{
	width:40%;
}


.section-steps{
}
.works-step{
	
	margin-bottom: 50px;
	display: flex;
	align-items: center;
	
	
}

.works-step div{
	
	color:#e67e22;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50px;
	height: 50px;
	border: 2px solid #e67e22;
	border-radius: 50%;
	margin-right: 30px;
	padding: 3%;
	

}
.works-step p{
	
	line-height: 150%;
	font-weight: 700;
}

.download-icons-links{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.download-icons-links i img{
	
	height: 55px;

}



.clear-fix{
	zoom:1;
}
.clear-fix:after{
	content: ".";
	clear: both;
	height: 0;
	visibility: hidden;
}

.section-cities{
	background: #f5f2f2;
	

}
/* cities */


.box img{
	
	width:100%;
	height: auto;
	margin-bottom: 30px;
	
}

.city-features{
	margin-bottom: 10px;
	
	
}

.icon-small{
	color: #e67e22;
	padding-top: -10px;
	font-size: 140%;
	line-height: 140%;
	text-align: center;
	vertical-align: middle;
	
	margin-right: 10px;
}

a:link,a:visited{
	
	color: #e67e22;
	text-decoration: none;
	border-bottom: 2px solid #e67e22;
	padding-bottom: 1px;
	transition: border-bottom .5s,color .5s;
		
}
a:hover,a:active{
	color: #555;
	border-bottom: 2px solid transparent;
}

.section-testimonials{
	
	background:linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)), url(/resources/css/img/back-customers.jpg);
	background-size: cover;
	color: #fff;
	background-attachment: fixed;
	
	

	
		
}

blockquote{
	padding:2%;
	font-style: italic;
	line-height: 145%;
	position: relative;
	
}
blockquote:before{
	
	content:"\201C";
	display: block;
	position: absolute;
	top:5px;
	font-size: 500%;
	color: aqua;
	left: -3px;
	
}
cite{
	font-size: 90%;
	margin-top: 25px;
	display: block;
}
cite img{
	height: 45px;
	border-radius: 50%;
	vertical-align: middle;
}
.btn-full{
	color: #fff;
}


















































































